header {
    width: 100%;
   /* position: fixed; pruebando sacar esto a ver que sucede*/ 
    top: 0;
    left: 0;
    background: #fff;
}

/* HEADER_SUPERIOR */
.header_superior {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 20px;
    background-image: url('imagenes/header_fondo.png');    
}

.logo img{
    width: 220px;
    
}

.search input{
        width: 300px;
        padding: 10px;
}

/* MENU */

.contenedor_menu {
    width: 100%;
    height: 60px;
    background: #304E9D;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav > ul > li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav  ul  li  a {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 200ms ease;
} 

nav  ul  li  a:hover{
    transform: scale(1.1);
    background: #DE7D39;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.icon_menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#label_check{
    width: 26px;
    height: 100%;
    display: none;
}

#check_menu{
    display: none;
}

/* HEADER_RESPONSIVE */

@media screen and (max-width:720px){
    .search input{
        display: none;
    }
    .header_superior{
        padding: 10px;
    }

    .logo img{
        width: 195px;
    }

nav  ul{
    flex-direction: column;
    background-color: #304E9D;
    position: fixed;
    left: 0;
    top: 145px;
    width: 300px;
    height: 0px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;

}

nav  ul  li  a:hover{
    transform: scale(1);
}

nav  ul > li:first-child a{
    background-position: 20px;
}

#seleccion{
    transform: scale(1);
}

#label_check{
    display: block;
}

.icon_menu{
    display: flex;
}

#check_menu:checked ~ nav > ul{
    height: 300px;
    visibility: visible;
    opacity: 1;

}
}

.login {
    font-size: 20px;
    color: #304E9D;
    padding: 0px 10px;
}

.login:hover {
    color: #DE7D39;
}