/* Estilos para todo el proyecto */
/*.container {
    display: inline-flex;
    /* flex-direction: column; 
    width :100%;
    }
.container1 {
        display: flex;
        /*flex-direction: column;
        width:250px;
        }*/
.selecto {
    width: 70%

}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#0f1527, #304E9D,#1b409e );
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.titulos_intranet {
    text-align: center;
    color: white;
}
.imagen_intranet {
    width: 350px;
    display: block; 
    margin: 0 auto;
}

.contenedor_img {
    padding-top:15px ;
    text-align: center; 
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 3px solid #DE7D39;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 3px solid #DE7D39;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    }
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    background-color: #DE7D39;
    color: #fff;
    border: none;
    padding: 10px 10px;
    margin-top: 6px;
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

a {
    padding: 8px;
    margin:4px;
    background-color: #fdab13;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
   
}

a:hover {
    background-color: #0056b3;
}