@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  }


h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px; 
  color: #304E9D;
  font-size: 2em;
}
.centro{
  display:flex;
  justify-content: center;
  align-items: center;
}

h3 {
  display:flex;
  justify-content: center;
  align-items: center;
  color: #DE7D39;
}


.contenido{
    padding: 60px;
}

/* BOTON WHATSAPP*/

.btn-wsp {position: fixed;
            width: 55px;
            height: 55px;
            line-height: 55px;
            bottom: 30px;
            right: 30px;
            background: #0df053;
            color:#fff;
            border-radius: 50px;
            text-align: center;
            font-size: 28px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
            z-index: 100;}

.btn-wsp:hover {text-decoration: none;
                background:black;}
